<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://displaytag.sf.net</taglib-uri>
            <taglib-location>/WEB-INF/displaytag.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
            <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
            <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
            <taglib-location>/WEB-INF/sql.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
            <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
            <taglib-location>/WEB-INF/x.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
            <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
        </taglib>
    </jsp-config>
    <servlet>
        <servlet-name>PesquisarAssociacao</servlet-name>
        <servlet-class>servlet.PesquisarAssociacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarAssociacao</servlet-name>
        <servlet-class>servlet.RecuperarAssociacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarAssociado</servlet-name>
        <servlet-class>servlet.PesquisarAssociado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarTaxa</servlet-name>
        <servlet-class>servlet.PesquisarTaxa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarReuniao</servlet-name>
        <servlet-class>servlet.PesquisarReuniao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarPagamento</servlet-name>
        <servlet-class>servlet.PesquisarPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAssociacao</servlet-name>
        <servlet-class>servlet.CadastroAssociacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAssociacao</servlet-name>
        <servlet-class>servlet.ExcluirAssociacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAssociado</servlet-name>
        <servlet-class>servlet.CadastroAssociado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarAssociacao</servlet-name>
        <url-pattern>/PesquisarAssociacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarAssociacao</servlet-name>
        <url-pattern>/RecuperarAssociacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarAssociado</servlet-name>
        <url-pattern>/PesquisarAssociado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarTaxa</servlet-name>
        <url-pattern>/PesquisarTaxa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarReuniao</servlet-name>
        <url-pattern>/PesquisarReuniao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarPagamento</servlet-name>
        <url-pattern>/PesquisarPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroAssociacao</servlet-name>
        <url-pattern>/CadastroAssociacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAssociacao</servlet-name>
        <url-pattern>/ExcluirAssociacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroAssociado</servlet-name>
        <url-pattern>/CadastroAssociado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
